@page
@model LearningStatsWeb.Pages.SessionModel
@{
    ViewData["Title"] = "Session";
}

<a href="Delete?name=@Model.SessionName">Delete</a>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Step', 'Accuracy'],
            @for(int c=0;c<Model.SessionValues.Count;c++)
            {
                @:['@c', @Model.SessionValues[c]],
            }
        ]);

        var data2 = google.visualization.arrayToDataTable([
            ['Step', 'Accuracy'],
            @if(Model.SessionValues.Count < 200)
            {
                for(int c=0;c<Model.SessionValues.Count;c++)
                {
                    @:['@c', @Model.SessionValues[c]],
                }
            }
            else
            {
                for(int c=Model.SessionValues.Count-200; c<Model.SessionValues.Count;c++)
                {
                    @:['@c', @Model.SessionValues[c]],
                }
            }

        ]);

        var options = {
            title: 'Learning Performance',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);

        var options2 = {
            title: 'Learning Performance - last 200 data points',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart_last200'));

        chart2.draw(data2, options2);
    }
</script>

<h2>Learning performance for @Model.SessionName</h2>

<div id="curve_chart" style="width: 900px; height: 500px"></div>

<div id="curve_chart_last200" style="width: 900px; height: 500px"></div>

<form method="post">
    Git hash: <input type="text" name="gitHash" id="gitHash" value="@Model.GitHash" /><br />
    Notes: <textarea name="notes" cols="50" rows="5">@Model.Notes</textarea><br />
    <input type="hidden" value="@Model.SessionName" name="sessionName" />
    <input type="submit" />
</form>